.container{
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    border: 3%;
}
.booksContainer {
    box-shadow: 2px -1px 12px 2px #1E90FF;
    width: 250px;
    padding: 10px;
    min-height: 300px
}
